<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID"  version="3.0">

	<welcome-file-list>
		<welcome-file>/article_showIndex</welcome-file>
	</welcome-file-list>
	 
	<!-- Spring框架的核心监听器 -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	
	<!-- Struts的框架的核心过滤器的配置 -->
	<filter>
		<filter-name>struts</filter-name>
		<filter-class>com.myblog.util.UeditorFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>struts</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
	
</web-app>